spring:
  application:
    name: api-core-java
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:writeflow;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: ${JWT_SECRET:vwpisbdEF8#&dbeDI23}

server:
  port: 8081   # 게이트웨이와 포트 분리

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:db}:${DB_PORT:5432}/${DB_NAME:writeflow}
    username: ${DB_USER:writeflow}
    password: ${DB_PASSWORD:writeflow}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc.lob.non_contextual_creation: true

jwt:
  secret: ${JWT_SECRET:vwpisbdEF8#&dbeDI23}

server:
  port: ${PORT:8081}
