spring:
  application:
    name: api-auth-java
  profiles:
    active: dev

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://${DB_HOST:db}:${DB_PORT:5432}/${DB_NAME:writeflow}
    username: ${DB_USER:writeflow}
    password: ${DB_PASSWORD:writeflow}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  port: ${PORT:8082}

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:db}:${DB_PORT:5432}/${DB_NAME:writeflow}
    username: ${DB_USER:writeflow}
    password: ${DB_PASSWORD:writeflow}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: ${PORT:8082}

jwt:
  secret: ${JWT_SECRET:vwpisbdEF8#&dbeDI23}
  access-token-validity-ms: 1800000 #30min
  refresh-token-validity-ms: 604800000 #7day

